<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="MomMinder" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/main.css">

        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/owl.carousel.css"> 
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/owl.carousel.js"></script>
        <script type="text/javascript" src="js/vendor/angular.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular-ui-bootstrap.js"></script>
        <script type="text/javascript" src="js/minder.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- The dropdown of the navbar runs strange, it may be worthwhile to just have one link yours momminders your family your events etc. and have that bring you to the bottom of the page -->

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <img class="smlogo" src="img/tree.jpg">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">MomMinder</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Go To<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#family">Your Family</a>
                    </li>
                    <li>
                      <a href="#addnew">Add a New Member</a>
                    </li>
                    <li>
                      <a href="#cal">Your Calendar</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button id="signInButton" type="submit" class="btn">Sign in</button>
              </form>
            </div>
          </div>
        </div> <!-- end navbar -->

        <div class="container">
          <div id="userSignInError" class="userError alert alert-danger" role="alert">Please enter your email and password
          <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
        </div>

        <div class="jumbotron">
          <div class="container">
            <img class="bglogo" src="img/tree.jpg">
            <h1 class="header-green">MomMinder</h1>
            <div class="introbox">
              <p>With a growing family and social network, remembering birthdays, anniversaries, and other important dates can be a challenge. Make your life easier by keeping track of the dates and events in your life that mean the most. <br> You've got a lot to remember - we can help!</p>
            </div>
          </div>
        </div> <!-- end jumbotron -->

        <div class="container">
          <div id="topBox">
            <h1 class="header-green">Get Reminders About</h1>
            <div id="owl-demo" class="owl-carousel owl-theme">
              <div class="item"><img src="img/cake.jpg" alt="Birthdays"></div>
              <div class="item"><img src="img/anniversary.jpg" alt="Anniversaries"></div>
              <div class="item"><img src="img/grad.jpg" alt="Graduations"></div>
              <div class="item"><img src="img/sparklers.jpg" alt="Other Events"></div>
            </div>
          </div>
        </div>

      <div class="container">
        <a name="family"><h1 class="header-green">Your Family</h1></a>

        <div ng-controller="MinderController">

          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Relationship</th>
                <th>Event</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody ng-repeat="m in collection">
              <tr>
                <td>{{ m.name }}</td>
                <td>{{ m.relation }}</td>
                <td>{{ m.event }}</td>
                <td>{{ m.date | date:'fullDate' }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <a name="addnew"><h1 class="header-green">Add a new member</h1></a>
          <div ng-show="minderError" class="alert alert-danger" role="alert">Please fill out all fields</div>
          <form ng-submit="submit()">

            <div class="row"> <!-- start form row -->
              <div class="col-md-6">

                <div class="row">
                  <div class="col-md-12">
                    <input type="text" ng-model="name" class="form-control pull-left" placeholder="Who would you like to add?">
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-12">
                    <select class="form-control" ng-model="relation" ng-options="f for f in familyMembers">
                      <option value selected disabled>How do you know them?</option>
                    </select>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-12">
                    <select class="form-control" ng-model="event" ng-options="e for e in events">
                      <option value selected disabled>Event/Occassion</option>
                    </select>
                  </div>
                </div>
                <br>

                <!-- currently there is an issue where when screen minimized the
                buttons will apear on top of the caldender
                this can be fixed by moving this row below the calender -->
                <div class="row button-row"> 
                  <div class="col-md-12">
                    <button type="submit" id="submit" value="Submit" class="btn btn-sm btn-info">Add MomMinder</button>
                    <button type="button" ng-click="clearMinders()" class="btn btn-sm btn-info">Clear</button>
                    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                  </div>
                </div>

              </div> <!-- end input columns -->

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div style="display:inline-block; min-height:290px;">
                      <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                  </div>
                </div>
              </div> <!-- end calender column -->

            </div>
            </form>

            <div class="container">
              <a name="cal"><h1 class="header-green">Upcoming Events</h1></a>
              <h3>Today is <span id="todayDate"></span></h3>
              <div id="upcoming">
                <div class="well" ng-repeat="e in upcomingEvents">
                The {{ e.event }} of your {{ e.relation }} {{ e.name }} is coming up on {{ e.date | date:'fullDate' }}
               </div>
              </div>
            </div>

          </div> <!-- end angular controller -->

                <hr>
                <footer>
                  <p>&copy; Brittany Jack</p>
                </footer>

          </div> <!-- /container -->        


        </body>
        </html>
